<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div>
    <header class="hero">
      <nav>
        <ul class="li-inline">
        <li class="li-inline nav-item" ><h1><a href="/">Homepage</a></h1></li>
        <li class="li-inline nav-item" ><h1><a class="nav-item" href="/dashboard">Dashboard</a></h1></li>
        {{#if logged_in}}
        <li class="li-inline nav-item" ><h1><button class ="btn-inline" id="logout-link">Log Out</button></h1></li>
        {{else}}
        <li class="li-inline nav-item" ><h1><a href="/login">Log In</a></h1></li>
        <li class="li-inline nav-item" ><h1><a href="/signup">Sign Up</a></h1></li>
        {{/if}}
        </ul>
      <br>
       <h1>
        <a class ="app-title" href="/">The Tech Blog</a>
      </h1>
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
  </div>


  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
