<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div>
    <header>
      <nav>
        <a href="/">Homepage</a>
        <a href="/dashboard">Dashboard</a>
        {{#if logged_in}}
        <button id="logout-link">Log Out</button>
        {{else}}
        <a href="/login">Log In</a>
        <a href="/signup">Sign Up</a>
        {{/if}}
      </nav>
      <br>
       <h1>
        <a href="/">Tech Blog</a>
      </h1>
    </header>
    <main>
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
