<div>
  <div>
    <h2>Login</h2>

    <form id="login-form">
      <div>
        <label >Username:</label>
        <input type="text" id="username-input-login" />
      </div>
      <div>
        <label>Password:</label>
        <input type="password" id="password-input-login" />
      </div>
      <div>
        <button class="btn" type="submit">login</button>
      </div>
    </form>
  </div>

<script src="./js/login.js"></script>
