<div>
    <h3>Create a New Project:</h3>

    <form id="new-post-form">
      <div>
        <label >Post Title:</label>
        <input name="post-title"/>
      </div>
      <div>
        <label>Description:</label>
        <textarea name="post-body"></textarea>
      </div>
      <div>
        <button type="submit" class="btn">Create</button>
      </div>
    </form>
  </div>

  <script src="/js/new.js"></script>