<div class="card">
    <h3 class="card-header">Create a New Project:</h3>

    <form id="new-post-form" class="card-body">
      <div>
        <label class="form-label" >Post Title:</label>
        <input class="form-input" name="post-title"/>
      </div>
      <div>
        <label class="form-label">Description:</label>
        <textarea class="form-input" name="post-body"></textarea>
      </div>
      <div>
        <button type="submit" class="btn">Create</button>
      </div>
    </form>
  </div>

  <script src="/js/new.js"></script>