<div>
  <div>
    <h2>Signup</h2>

    <form id="signup-form">
      <div>
        <label>Username:</label>
        <input type="text" id="username-input-signup"/>
      </div>
      <div>
        <label>Password:</label>
        <input type="password" id="password-input-signup"/>
      </div>
      <div>
        <button class="btn" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/signup.js"></script>